name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t dimkko/frontend -f Dockerfile.dev .

      - name: Run tests inside container
        run: docker run -e CI=true dimkko/frontend npm run test
